body {
  font-size: 10pt;
}

#content {
  width: 100%;
  overflow: hidden;
}

.task {
  cursor: pointer;
  font-size: 12pt;
}

.task .goal:hover {
  text-decoration: underline;
}

.task .startDate, .task .dueDate {
  font-size: 7pt;
}

#leftCol {
  float:left;
  width: 40%;
}

#rightCol {
  float:left;
  width: 50%;
}

#taskGoalField {
  resize: none;
  height: 1.5em;
}

#taskDump {
  margin-top: 50px;
  height: 100px;
  width: 400px;
}

#taskPopup {
  display: none;
  position: absolute;
  background-color: white;
  border: solid 1px gray;
}

.completed {
  text-decoration: line-through;
}

.selected {
  background-color: #cccccc;
}

.dateField {
  width: 75px;
}